button {
    border: none;
    padding: 0.8em;
    background: #F96;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 0 0 1em;
  }
  
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
  }
  
  #editor {
    padding: 1em;
    background: #E6E6E6;
    border-radius: 3px;
  }

.builder-btn-pos{
    position:relative;
}

.swapImgBtn{
    position: absolute;
    right: -90px;
    top: 10px;
}

.preview-btn{
   background:green;
   margin-left: 10px;
}

